.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 2px solid #145e69;
}
.logo img {
  width: 100%;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}
.contact :nth-child(1) {
  color: #3f787b;
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
}
